<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <centre>
        <div style="text-align:center; margin-top: 300px;">
            <form class="btn btn-secondary" action="{{url_for('after')}}" enctype ="multipart/form-data" method="POST">
                <input class="btn btn-secondary" type="file" name = 'file1'>
            <input class="btn btn-light" type ="submit">
            </form>
        </div>
        
        

    </centre>
   
</html>